## Tally `≢`
Monadic primitive function `≢` is "Tally" — the length of the leading axis of its argument array:

In [1]:
⊢A3 ← 2 3 4⍴⍳24     ⍝ rank-3 array

In [2]:
⍴A3                 ⍝ ⍴ returns _vector_ shape

In [3]:
≢A3                 ⍝ ≢ returns _scalar_ tally

Now we can code an "average" function for arrays of any rank:

In [4]:
avg ← {(+⌿⍵)÷≢⍵}    ⍝ leading-axis average
avg 1 2 3 4         ⍝ average of vector

In [5]:
avg A3              ⍝ average along leading axis

In [6]:
avg 42              ⍝ average of scalar

## Rank `⍤`
Dyadic primitive operator `⍤` is "Rank" - operand function applied to/between subarrays of given rank:

In [7]:
100 200 (+⍤0 2) A3  ⍝ scalars (0) plus matrices (2)

In [8]:
A3                      ⍝ rank-3 array

In [9]:
avg A3                  ⍝ average of rank-3 array

In [10]:
(avg⍤2)A3               ⍝ average of matrix sub-arrays

In [11]:
(avg⍤1)A3               ⍝ average of vector sub-arrays

In [12]:
(avg⍤0)A3               ⍝ average of each scalar item

In [13]:
(avg A3) ≡ (avg⍤3)A3    ⍝ average of rank-3 array

In [14]:
(avg⍤¯1)A3              ⍝ for rank-3 argument, same as ⍤2

## Key `⌸`

Monadic primitive operator `⌸` is "Key" - right argument items grouped according to left argument key values:

In [15]:
'FMF' {⍺ ⍵}⌸ ↑'Jane' 'Jean' 'Joan'      ⍝ group by gender

In [16]:
(↑'Red' 'Blue' 'Red') {⍺ ⍵}⌸ 10 20 30   ⍝ group by colour

The monadic case uses `⍵` as keys and `(⍳≢⍵)` as values to be grouped:

In [17]:
{⍺ (≢⍵) ⍵}⌸ 'Mississippi'        ⍝ letter count

In [18]:
{≢⍵}⌸ ?1000⍴6                    ⍝ distribution of 1000 dice

In [19]:
⊢A2 ← ↑ 5⍴'Red' 'Blue' 'Green'   ⍝ rank-2 array

In [20]:
{⍺ ⍵}⌸ A2                        ⍝ group by colour

## Extension of `⍳`

Dyadic primitive function `⍳` is extended for left arguments of rank greater than 1:

In [21]:
A2 ⍳ 'Blue '            ⍝ row index

In [22]:
A2 ⍳ ↑'Green' 'Grass'   ⍝ row indices

## Forks

New syntax: A sequence of three functions in isolation is a "fork".

In [23]:
mean ← +⌿ ÷ ≢           ⍝ (f g h)⍵ → (f ⍵) g (h ⍵)
mean                    ⍝ tree-style display of fork

In [24]:
mean 1 2 3 4            ⍝ mean item of vector

A dyadic fork:

In [25]:
12 (-,÷) 3              ⍝ ⍺(f g h)⍵ → (⍺ f ⍵) g (⍺ h ⍵)

Longer "function trains" are grouped in threes from the right

In [26]:
6 (+,-,×,÷) 3           ⍝ (... f g h j k) → (... f g(h j k))

## Atops

Two function in isolation are an "Atop":

In [27]:
'Banana' (~∊) 'an'      ⍝ ⍺(f g)⍵ → f (⍺ g ⍵)

In [28]:
2 2 2 (⍉⊤) ⍳3           ⍝ transpose of encode

Monadic Atop is just composition:

In [29]:
rank ← ⍴⍴
rank A3